# Convert Deg. into UTM

In [1]:
import numpy as np
import pandas as pd
import utm

In [2]:
def utm_converter(X, Y) :
    outX = []
    outY = []
    for i in range(len(X)) :
        UTM = utm.from_latlon(Y[i],X[i])
        outX.append(UTM[0]), outY.append(UTM[1])
    return outX, outY

In [3]:
Tiago  = pd.read_csv('C:/Users/julie/Downloads/station_info_SoloP_buildingN.csv')

In [4]:
Tiago

,Seiral_number,Start_Date,Start_time,End_Date,End_time,Latitude,Longitude,Height,Unnamed: 8,Unnamed: 9
0,453000039.0,2023-03-08,09:18:06,2023-03-08,09:50:39,48.377866,8.934226,528.0,NaN,NaN
1,453000617.0,2023-03-08,08:53:52,2023-03-08,09:34:21,48.377773,8.934220,527.0,NaN,NaN
2,453001013.0,2023-03-08,09:09:18,2023-03-08,09:49:45,48.377673,8.934215,525.0,NaN,NaN
3,453001195.0,2023-03-08,09:01:28,2023-03-08,09:50:12,48.377586,8.934203,523.0,NaN,NaN
4,453001250.0,2023-03-08,09:16:39,2023-03-08,09:49:05,48.377494,8.934196,519.0,NaN,NaN
5,453001960.0,2023-03-08,09:16:39,2023-03-08,09:49:05,48.377400,8.934184,513.0,NaN,NaN
6,453001974.0,2023-03-08,09:08:54,2023-03-08,09:49:23,48.377780,8.934160,528.0,NaN,NaN
7,453002695.0,2023-03-08,08:54:07,2023-03-08,09:50:59,48.377725,8.934149,527.0,NaN,NaN
8,453003484.0,2023-03-08,09:09:41,2023-03-08,09:50:20,48.377678,8.934140,525.0,NaN,NaN
9,453003625.0,2023-03-08,09:26:41,2023-03-08,09:50:58,48.377641,8.934133,524.0,NaN,NaN
10,453003798.0,2023-03-08,09:09:56,2023-03-08,09:50:25,48.377600,8.934125,523.0,NaN,NaN
11,453004248.0,2023-03-08,09:09:53,2023-03-08,09:50:20,48.377558,8.934114,522.0,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
BINlat = np.isfinite(Tiago.Latitude)
lat = np.extract(BINlat, Tiago.Latitude)
BINlong = np.isfinite(Tiago.Longitude)
long = np.extract(BINlat, Tiago.Longitude)

In [6]:
lat, long

(array([48.37786609, 48.37777307, 48.37767301, 48.37758616, 48.37749354,
        48.37740029, 48.37777955, 48.37772542, 48.37767844, 48.37764141,
        48.37759968, 48.37755842]),
 array([8.93422573, 8.93422015, 8.93421531, 8.93420341, 8.93419571,
        8.93418388, 8.93415999, 8.93414901, 8.93414018, 8.93413256,
        8.93412532, 8.93411357]))

In [7]:
utmLong, utmlat = utm_converter(long, lat)

In [8]:
utmLong.extend([np.nan]*24)
utmlat.extend([np.nan]*24)

In [9]:
Tiago.insert(8, 'Easting',utmLong, True)
Tiago.insert(8, 'Northing',utmlat, True)

In [10]:
Tiago

,Seiral_number,Start_Date,Start_time,End_Date,End_time,Latitude,Longitude,Height,Northing,Easting,Unnamed: 8,Unnamed: 9
0,453000039.0,2023-03-08,09:18:06,2023-03-08,09:50:39,48.377866,8.934226,528.0,5.358302e+06,495129.471777,NaN,NaN
1,453000617.0,2023-03-08,08:53:52,2023-03-08,09:34:21,48.377773,8.934220,527.0,5.358292e+06,495129.050005,NaN,NaN
2,453001013.0,2023-03-08,09:09:18,2023-03-08,09:49:45,48.377673,8.934215,525.0,5.358280e+06,495128.681765,NaN,NaN
3,453001195.0,2023-03-08,09:01:28,2023-03-08,09:50:12,48.377586,8.934203,523.0,5.358271e+06,495127.792141,NaN,NaN
4,453001250.0,2023-03-08,09:16:39,2023-03-08,09:49:05,48.377494,8.934196,519.0,5.358261e+06,495127.213269,NaN,NaN
5,453001960.0,2023-03-08,09:16:39,2023-03-08,09:49:05,48.377400,8.934184,513.0,5.358250e+06,495126.328879,NaN,NaN
6,453001974.0,2023-03-08,09:08:54,2023-03-08,09:49:23,48.377780,8.934160,528.0,5.358292e+06,495124.595524,NaN,NaN
7,453002695.0,2023-03-08,08:54:07,2023-03-08,09:50:59,48.377725,8.934149,527.0,5.358286e+06,495123.777368,NaN,NaN
8,453003484.0,2023-03-08,09:09:41,2023-03-08,09:50:20,48.377678,8.934140,525.0,5.358281e+06,495123.119173,NaN,NaN
9,453003625.0,2023-03-08,09:26:41,2023-03-08,09:50:58,48.377641,8.934133,524.0,5.358277e+06,495122.551009,NaN,NaN
10,453003798.0,2023-03-08,09:09:56,2023-03-08,09:50:25,48.377600,8.934125,523.0,5.358272e+06,495122.011201,NaN,NaN
11,453004248.0,2023-03-08,09:09:53,2023-03-08,09:50:20,48.377558,8.934114,522.0,5.358268e+06,495121.137324,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
Tiago.to_csv('./UTM_station_info_SoloP_buildingN.csv')